<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729121897113-e79pro48ufcqms2bo75kapnm2be8v6ff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729121897113-e79pro48ufcqms2bo75kapnm2be8v6ff</string>
	<key>API_KEY</key>
	<string>AIzaSyB1C4xIa5o3J7OO8INjp-ZWlUarr71rtS8</string>
	<key>GCM_SENDER_ID</key>
	<string>729121897113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ak.EpisodTracker</string>
	<key>PROJECT_ID</key>
	<string>episodetracker-c801a</string>
	<key>STORAGE_BUCKET</key>
	<string>episodetracker-c801a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729121897113:ios:a66458ddd74bcbca3e5608</string>
</dict>
</plist>